.container {
	margin: 30px auto;
	max-width: 1200px;
	padding: 0 15px;
}
.bounce {
	background-color: black;
	color: white;
	padding: 30px;
	min-height: 300px;
	overflow: hidden;
	border-radius: 10px;
	width: 90%;
}
.bounce h1 {
	color: white;
}
.fangible {
	background-color: #ae6fff;
	color: black;
	padding: 30px;
	min-height: 300px;
	overflow: hidden;
	border-radius: 10px;
	width: 90%;
}
.bouncepolk {
	background-color: #ff699f;
	color: black;
	padding: 30px;
	min-height: 300px;
	overflow: hidden;
	border-radius: 10px;
	width: 90%;
}
.bounceTool {
	background-color: #f4eda8;
	color: black;
	padding: 30px;
	min-height: 300px;
	overflow: hidden;
	border-radius: 10px;
	width: 90%;
}
.bounce svg,
.fangible svg,
.bouncepolk svg,
.bounceTool svg {
	width: 30px;
}
.bounce .card {
	transform: translateY(160px);
}
.bounce:hover .card {
	transition: all 0.5s ease-out;
	transform: translateY(60px);
}
.fangible .card {
	transform: translateY(170px);
}
.fangible:hover .card {
	transition: all 0.5s ease-out;
	transform: translateY(70px);
}
.bouncepolk .card {
	transform: translateY(150px);
}
.bouncepolk:hover .card {
	transition: all 0.5s ease-out;
	transform: translateY(50px);
}
.bounceTool .card {
	transform: translateY(170px);
}
.bounceTool:hover .card {
	transition: all 0.5s ease-out;
	transform: translateY(70px);
}
.cardContent a {
	text-decoration: none;
	color: black;
	position: relative;
	border: 1px solid black;
	border-radius: 32px;
	padding: 13px;
	background-color: white;
	border: none;
	overflow: hidden;
	display: inline-block;
	margin-bottom: 10px;
}
.cardContent a:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	background-color: black;
	border-radius: 30px;
	width: 100%;
	height: 100%;
	transform: translateY(100%);
	transition: all 0.5s ease;
	color: white;
}
.cardContent a:hover:before {
	transform: translateY(0);
}
.cardContent a span {
	position: relative;
}
.cardContent a:hover span {
	color: white;
}
.cardSVG {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
